body{
    padding-top: 50px;
}
h3{
    margin-left : 100px ;
    margin-bottom: 50px;
    color: #334195;;
}

.bodylayout{
    display: flex;
    flex-direction: column;
    gap : 0.3rem;
    margin: 20px auto;
    max-width: 400px;
    margin-top: 50px;
}
.form-data{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.form-data input{
    height: 32px;
    /* border: none; */
    margin-bottom: 10px;
}
.form-data textarea{
    height: 50px;
}
.form-data select{
    height: 30px;
}
button{
    width: 100%;
    background-color: #334195;
    color : white;
    border: none;
    padding: 5px 5px;
}